@import "src/Components/Animations/FlipCarousel.module";

.QuizDisplay {

  height:           300px;
  width:            500px;
  position:         relative;
  background-color: antiquewhite;


  .Article {
    background-color: #c5751b;
    position:         absolute;
    left:             5%;
    right:            10%;
    bottom:           10%;
    top:              10%;

  }

  .Solution {
    background-color: gray;
    position:         absolute;
    left:             5%;
    right:            10%;
    bottom:           10%;
    top:              10%;
  }
}



