
.PositionFlipDiv {
  position: relative;
  width:    100%;
  height:   100%;

  > * {
    position:            absolute;
    width:               100%;
    height:              100%;
    backface-visibility: hidden;
  }
}

.GridFlipDiv {
  position:    relative;
  display:     grid;
  place-items: center;

  > * {
    height:              100%;
    width:               100%;
    grid-area:           1/1/1/1;
    backface-visibility: hidden;
  }
}
