
.PositionFlipDiv {
  height:   50px;
  position: relative;

  > * {
    position:         absolute;
    left:             25%;
    width:            50%;
    transform-style:  flat;
    text-align:       center;
    background-color: #162156;
  }
}

.GridFlipDiv {
  position:    relative;
  display:     grid;
  place-items: center;

  > * {
    width: 50%;
    grid-area:        1/1/1/1;
    transform-style:  flat;
    text-align:       center;
    background-color: #162156;
  }
}
